@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="section-top-border">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mt-10">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" type="text" name="Input.Email" placeholder="Email"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required
                           class="single-input">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mt-10">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" name="Input.Password" placeholder="Password"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                           class="single-input form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mt-10">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" name="Input.ConfirmPassword" placeholder="ConfirmPassword"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'ConfirmPassword'" required
                           class="single-input form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="genric-btn success large mb-4 mt-2">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
